.banner {
    background-image: url('../../../../../images/banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.banner h1 {
    font-size: 50px;
}

.banner h3 {}